<html>
<h1> Comments Index </h1>
<head> </head>

  <% @comment.each do |comment| %>


      <h4> <%= comment.description %> </h4>
  
      <h4> <%= comment.user.name %> </h4>
  <% end %>

  <%= link_to 'Back to Recipes', recipes_path %>
</html>
