<html>
<head>
  <h1>Welcome to the Recipe Site</h1>

</head>
<body>

</body>
<div><br>
<%  if current_user %>
  <a class="btn btn-default" href="recipes" role="button">Link to the Recipe Site</a>
<% end %>
</div>

</html>
