$title-background-color: #B2F0B2;
$main-color: #5CADFF;
$font-color: #00B8E6;
$basic-white: #FFFFFF;
$header-text-color: #336600;
$description-title: #33CC33;
$button-text: #FFFF99;
$text-area-background-h1: #FFCC66;
$text-area-background-h3: #CC9900;
$text-area-background-h4: #F0E0B2;
$text-area-background-h5: #FFFF99;
$text-area-title: #D1A319;
$background-black: #000000;
$panel-submited-by: #FFCC66;
