// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {

  background-image: url("http://www.foodincmovie.co.uk/img/site/background_home-02.jpg");
  background-attachment: fixed;

}
.opacity {
  opacity: 0.4;
}
